<% if current_user.id == @team.owner_id %>

	<div class="single-widget-container">  
  <section class="widget login-widget">
    <header class="text-align-center">
    	<h1>Edit your Team</h1>
    </header>

	<%= render 'teamform' %>

<% else %>

	<h1>Sorry!</h1>
	<div class=content>
		<div class="alert alert-danger span4"><b>You're not authorized to access this page. :(</b></div>
	</div>

<% end %>