<% if current_user.id == @team.owner_id %>
  
<div class="content">
  <div class="row-fluid"> 
    <section class="widget login-widget">
      <legend>
        <header class="text-align-center">
        	<h1>Edit your Team</h1>
        </header>
      </legend>

  	   <%= render 'teamform' %>
    </section>
  </div>
</div>

<% else %>

	<h1>Sorry!</h1>
	<div class=content>
		<div class="alert alert-danger span4"><b>Only the creator of this team is authorized to edit the team</b></div>
	</div>

<% end %>