<div class="content">
  <div class="row-fluid">
    <section class="widget login-widget">
      <legend>
        <header class="text-align-center">
          <h1>Create a New Team</h1>
        </header>
      </legend>

       <%= render 'teamform' %>
   </section>
  </div>
</div>