<% @comments.each do |comment| %>

  <div class="chat-message">

    <div class="sender pull-left">
      <div class="icon">
       <%= image_tag User.find(comment.user_id).avatar_url(:banner), :class => "img-circle" %>
      </div>
      <div class="time">
        <%= comment.created_at.to_s(:just_time) %>
      </div>
    </div>

    <div class="chat-message-body">
      <span class="arrow"></span>
    	<div class="sender">
        <%= link_to User.find(comment.user_id).name, dashboard_user_path(User.find(comment.user_id)) %>
      </div>
      <div class="text">
    	  <%= comment.comment %>
      </div>
    </div>

  </div>

<% end %>