<% @comments.each do |comment| %>

<div class="chat-message">
  <div class="sender pull-left">
    <div class="icon">
      <img src="" class="img-circle" alt="">
    </div>
    <div class="time">
      <%= comment.created_at.to_s(:just_time) %>
    </div>
  </div>

	<%= User.find(comment.user_id).name %>
	<%= comment.comment %>

</div>

<% end %>