<%= form_for ([current_user, @comment]) do |f| %>

	<div class="field">
		<%= f.label :comment %><br>
		<%= f.text_area :comment %>
	</div>

	<div class="action">
		<%= f.submit 'Comment'%>
	</div>

<% end %>