<%= form_for ([@commentable, @comment]) do |f| %>

	<div class="field">
		<%= f.text_area :comment, :class => "span12", placeholder: "Share something with everyone :)" %>
	</div>

	<div class="action" id="new_comment">
		<%= f.submit 'Comment', :class => "btn btn-success span6 offset3" %>
	</div>

<% end %>