<div class = "field">
  <legend>
    <header><h4>
      Track my <%= @goal.name_of_activity_through_goal %>
    </h4></header>
  </legend>
  <div class="body">
    <p>I completed <%= f.number_field :distance, placeholder: "miles" %> miles of <%= @goal.name_of_activity_through_goal %> in <%= f.number_field :duration %> minutes!</p>
  </div>
</div>