<div class = "field">
  <h3>Track my <%= @goal.name_of_activity_through_goal %></h3>
  <p>I completed <%= f.number_field :distance, placeholder: "miles" %> miles of <%= @goal.name_of_activity_through_goal %> in <%= f.number_field :duration %> minutes!</p>
</div>
