<div class = "field">
  <p>I completed a <%= f.select :intensity, options_for_select([['Freestyle', 'Freestyle'], ['Backstroke', 'Backstroke'], ['Breaststroke', 'Breaststroke'], ['Butterfly', 'Butterfly'], ['Doggy Paddle', 'Doggy Paddle'], ['Sidestroke', 'Sidestroke']], include_blank: true) %> session of <%= @goal.name_of_activity_through_goal %> in <%= f.number_field :duration %> minutes!</p>
</div>