<div class="span12">
  <section class="widget">
    <div class="row-fluid">
      <div class="span2">
        <div id="useravatar">
           <%= image_tag @user.avatar_url(:banner), :class => "img-circle" %>
        </div>
      </div>
      <div class="span6">
        <h2><%= @user.name %></h2>
        <% user_goal_points = [] %>
        <% user_goal_points = Goal.where(user_id: @user.id).map do |goal|  %>
          <% goal.id %>
          <% ActivityLog.where(goal_id: goal.id).sum(:points) %>
        <% end %>
        <!-- Total user points from  points array by goal  -->
        <% score = user_goal_points.inject {|sum, point| sum += point} %>
        <h4><%= score %></h4>
      </div>
      <div class="span4">
        <%= button_to "Follow", friendships_path(friend_id: @user.id) ,:class => 'btn btn-success span6 offset3'%>
      </div>
    </div>
  </section>
</div>