<% leaders = {} %>
<% User.all.each do |user| %>
  <!-- Get an array of user's points by goal -->
  <% user_goal_points = [] %>
  <% user_goal_points = Goal.where(user_id: user.id).map do |goal|  %>
    <% goal.id %>
    <% ActivityLog.where(goal_id: goal.id).sum(:points) %>
  <% end %>
  <!-- Total user points from  points array by goal  -->
  <% score = user_goal_points.inject {|sum, point| sum += point} %>
  <% leaders[user.id] = score %>
<% end %>
<div id='print-out-leaderboard'>
  <ol>
    <% leaders.sort_by{|k,v| v }.reverse.each do |key, value| %>
      <li>
        <%= link_to User.find(key).name, dashboard_user_path(User.find(key).id) %>
        <%= value %>
      </li>
    <% end%>
  </ol>
</div>
