<% if current_user.inverse_friendships %>
  <% current_user.inverse_friendships.each do |friendship| %>
    <% if current_user.friendships.find_by(friend_id: friendship.user_id) %>
    <% else %>
      <div class="widget">
        <%= button_to "Pending friend request from " + User.find(friendship.user_id).name, friendships_path(friend_id: friendship.user_id), :class => "btn btn-success span12" %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if current_user.inverse_challenges %>
  <% current_user.inverse_challenges.each do |challenge| %>
    <% if current_user.challenges.find_by(defendable_id: challenge.challengeable_id) %>
    <% else %>
      <div class="widget">
        <%= button_to "You have been challenged by " + User.find(challenge.challengeable_id).name, user_challenges_path(current_user), {:class => "btn btn-success span12", method: :get } %>
      </div>
    <% end %>
  <% end %>
<% end %>