<section class="widget">
  <h3><%= link_to user.name, dashboard_user_path(user) %></h3>
  <h4>Goals:</h4>
  <address>
    <% user.goals.each do |goal| %>
    	<%= goal.name_of_activity_through_goal %><br>
    <% end %>
  </address>
</section>