<section class="widget widget-tabs">
<header>
<ul class="nav nav-tabs">
  <li class="active">
  <a href="#activity-log" data-toggle="tab">Activity Log</a>
  </li>
  <li>
  <a href="#activity-chart" data-toggle="tab">Activity Chart</a>
  </li>
  <li>
  <a href="#total-points-chart" data-toggle="tab">Total Points</a>
  </li>
</ul>
</header>
<div class = "body tab-content">
  <div id="activity-log" class="tab-pane active clearfix">
    <%= render 'each_activity' %>
  </div>
  <div id="activity-chart" class="tab-pane clearfix">
    <div class="charts" >
      <%= render 'chart_activity' %>
    </div>
  </div>
  <div id="total-points-chart" class="tab-pane clearfix">
    <div class="charts" >
      <%= render 'chart_totalpoints' %>
    </div>
  </div>
</div>
</div>



</section>
