<% if current_user.id == @user.id %>

	<div class="user_form">
		<%= render 'userinfo_form' %>
	</div>

<% else %>
	<h1>Sorry!</h1>
	<div class="alert alert-danger">
		You're not authorized to access this page. :(
	</div>
<% end %>