<div class="content">
	<div id="landing-header" class="span10">
		<h1>Compete and Collaborate around your favourite healthy activities!</h1>
	</div>

	<% if !current_user %>
		<div id="landing-buttons" class="row-fluid">
			<div class="span5" id="landing-log-in">
				<h1><%= link_to "Log In", new_user_session_path, { :class=>"span5", :id => "landing-log-in" } %></h1>
			</div>
			<div class="span5" id="landing-sign-up">
				<h1><%= link_to "Sign Up", new_user_path, { :class=>"span5",:id => "landing-sign-up" } %></h1>
			</div>
		</div>  
	<% end %>
</div>