<h1>Compete and Collaborate around your favourite healthy activity!</h1>

<%= button_to "Log In", new_user_session_path, :class => "btn btn-large btn-success" %>
<br>
<%= button_to "Sign Up", new_user_path, :class => "btn btn-large btn-warning" %>
      