<%= link_to "Back to Homepage", users_path %>

<div id="users">
  <% User.all.each do |user| %>
    <div class="user">
      <%= user.name %>
      <%= button_to 'Add Friend', friendships_create_path(friend_id: user) %>
    </div>
  <% end %>
</div>
