<%= link_to "Back to Homepage", users_path %>
<h1><%= current_user.name %> is now signed in!</h1>

here is a goal <br>
<%= current_user.goals %> <br>
this is the activity  <br>
<%= @activities.name %>
