<!-- friend or follower -->
<% if person_type == 'friend' %>
  <% @humans = current_user.friendships %>
<% else %>
  <% @humans = current_user.inverse_friendships %>
<% end %>

<!-- List each person I'm connected to depending on friendship  -->


<% @humans.each do |friend| %>
  <div class="widget span6">
    <% @friend_type =  person_type == 'friend' ? friend.friend_id : friend.user_id %>
    <div class="span6">
      <%= image_tag User.find_by(id: @friend_type).avatar_url(:banner), :class => "img-circle" %>
    </div>
    <div class="span6">
      <h4><%= link_to User.find_by(id: @friend_type).name, dashboard_user_path(@friend_type) %></h4>
      <% if current_user && person_type == "friend" %>
        <%= button_to "Unfollow", friendship_path(friend.id), { :class => "btn btn-danger", method: 'delete', id: friend.id} %>
      <% end %>
    </div>
  </div>
<% end %>