<!-- friend or follower -->
<% if person_type == 'friend' %>
  <% @human = @user.friendships.each %>
<% else %>
  <% @human = @user.inverse_friendships.each %>
<% end %>

<!-- List each person I'm connected to depending on friendship  -->
<% @human.each do |friend| %>
  <%  @friend_type =  person_type == 'friend' ? friend.friend_id : friend.user_id %>
  <li> 
  IMAGE |  
  <%= link_to User.find_by(id: @friend_type).name, dashboard_user_path(@friend_type) %>
  <%="*" if @user.inverse_friends.find_by(id: @friend_type) %>
  |
  <% if current_user == @user %>
    <%= link_to "remove", friendship_path(friend.id), { method: 'delete', id: friend.id} %>
  <% end %>

  </li>
  <br/>

<% end %>

