<div class="row-fluid">
  <div class="span6">
    <section class="widget">
      <header>
        <legend>
          <h4>People I follow</h4>
        </legend>
      </header>
      <div class="body">
        <div id="friends" class="friends">
            <div class = "row-fluid">
              <%= render partial: "friends", locals: { person_type: 'friend' } %>
            </div>
         </div>
      </div>
    </section>
  </div>

  <div class="span6">
    <section class="widget">
      <header>
        <legend>
          <h4>People following me</h4>
        </legend>
      </header>
      <div class="body">
        <div id="followers" class="followers">
          <div class = "row-fluid">
            <%= render partial: "friends", locals: { person_type: 'follower' } %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>