<div class="content">
  <div class="span6">
    <section class="widget">
      <legend>
        <header><h4>
          Challenges I created
        </h4></header>
      </legend>
      <div class="body">
        <div class="row-fluid">
          <%= render partial: "challenges/each_challenge", locals: {challenge_type: 'challenged'} %>
        </div>
      </div>
    </section>
  </div>

  <div class="span6">
    <section class="widget">
      <legend>
        <header><h4>
          Challenges I am defending
        </h4></header>
      </legend>
      <div class="body">
        <div class="row-fluid">
          <%= render partial: "challenges/each_challenge", locals: {challenge_type: 'defending'} %>
        </div>
      </div>
    </section>
  </div>
</div>
