<div class="row-fluid">
  <div class="span6">
    <section class="widget">
      <legend><h4>
        Challenges
      </h4></legend>
      <div class="body">
        <%= render "each_challenge" %>
      </div>
    </section>
  </div>
</div>