<div class = "field">
  <%= f.label :activity_name %><br>
  <%= f.select :activity_id, options_from_collection_for_select(Activity.order(:name), :id, :name), include_blank: true %>
</div>

<div class = "field">
  <%= f.label :weekly_goal %><br>
  <%= f.number_field :weekly_goal %>
</div>

<%#= link_to_remove_association "Remove Activity", f %>