<% if @goal.weekly_goal == @goal.count_activity_log %>
	
	<div class="content">
	<section class="widget span6">
	  <div class="row-fluid">
			<div class = "field">
			  <legend>
			    <header><h2>
			      Renew Your Goal
			    </h2></header>
			  </legend>

			<div class = "user-activity-form">
			  <%= render 'useractivity_form' %>
			</div>
		</div>
	</section>
	</div>

<% else %>

	<%= render 'inactive_goal' %>

<% end %>

