<h2>Almost done! Select atleast one Activity and set a Goal</h2>

<div class = "user-activity-form">

  <%= render 'useractivity_form' %>

</div>

  <!-- <div id = "user-activity-form">
    <h2>Almost done! Select atleast one activity and set a goal</h2>

    <p><%#= f.fields_for :goals do |goal| %></p>
      <%#= render 'goals_fields', f: goal %>
        <div class = "links">
          <%#= link_to_add_association 'Add Another Activity', f, :goals %>
        </div>
      <%# end %>

  </div>

  <div class="action">
    <%#= f.submit 'All Set!'%>
  </div> -->