<div class="content">
	<section class="widget span6">
	  <div class="row-fluid">
			<div class = "field">
			  <legend>
			    <header><h2>
			      Select an Activity and Set a Goal
			    </h2></header>
			  </legend>

			<div class = "user-activity-form">
			  <%= render 'useractivity_form' %>
			</div>
		</div>
	</section>
</div>