html
{
  overflow-y: hidden;
}

.display-position-in-leaderboard
{
  display: list-item;
  list-style-type: decimal;
  list-style-position: inside;
}

.current-user-in-leaderboard
{
  background: rgba(86, 188, 118, 0.50);
}

.count {
  position: absolute;
  top: -5px;
  right: 2px;
  font-size: 1rem;
  font-weight: normal;
  /*background: rgba(86, 188, 118, 1);*/
  background: rgba(229, 96, 59, 1);
  color: rgba(255, 255, 255, 0.9);
  line-height: 1rem;
  padding: 4px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

#landing-header
{
  text-align: center;
}

#landing-buttons
{
  padding-top: 20%;
}

#landing-log-in{
  background-color: #56bc76;
  text-align: center;
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#landing-log-in a{
  color: white;
  font-size: 3rem;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

#landing-sign-up{
  background-color: #eac85e;
  text-align: center;
  cursor: pointer;
  padding-top: 1rem; 
  padding-bottom: 1rem;
}

#landing-sign-up a{
  color: white;
  font-size: 3rem;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

#team-leaderboard
{
  text-align: center;
}

#team-leaderboard-row
{
  border-bottom: 1px solid #e5e5e5;
}

#activity-tracking > .pre-scrollable
{
  max-height: 560px;
  overflow-y: scroll;
}

#chat-messages > .pre-scrollable
{
  max-height: 475px;
  overflow-y: scroll;
}

#leaderboard > .pre-scrollable
{
  max-height: 560px;
  overflow-y: scroll; 
  overflow-x: hidden;
}

#search-answer-user.pre-scrollable
{
  max-height: 500px;
  overflow-y: scroll; 
}

#search-answer-team.pre-scrollable
{
  max-height: 500px;
  overflow-y: scroll; 
}

#request > .pre-scrollable
{
  max-height: 500px;
  overflow-y: scroll; 
}

#leaderboard-for-all-teams > .pre-scrollable
{
  max-height: 600px;
  overflow-y: scroll; 
  overflow-x: hidden;
}